<mcl-header
  [appTitle]="'Front Office'"
  [loginUrl]="env.loginUrl"
  [crossAppUrl]="env.crossAppUrl"
  [crossAppLabel]="'Go to Back Office'"
  (logout)="onLogout()">
  <li class="nav-item" left><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
</mcl-header>

<div class="container">
  <div class="d-flex gap-2 mb-3">
    <button class="btn btn-outline-secondary" (click)="whoAmI()">GET /me</button>
    <button class="btn btn-primary" (click)="callFo()">whoami</button>
    <button class="btn btn-primary" (click)="callBoViaBackend()">Backend: fo => bo</button>
    <button class="btn btn-primary" (click)="callBoViaBackendNoToken()">Backend: fo => bo - No Token</button>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h6>Me</h6>
      <pre class="bg-light p-2 rounded" *ngIf="me">{{ me | json }}</pre>
    </div>
    <div class="col-md-6">
      <h6>Front Office Response</h6>
      <pre class="bg-light p-2 rounded" *ngIf="data">{{ data | json }}</pre>
    </div>
  </div>
</div>
